.optLabelBtn.label .text {
    -fx-fill: rgb(59, 158, 133);
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

.optLabel.label .text {
    -fx-fill: rgb(4, 127, 158);
    -fx-stroke: black;
    -fx-stroke-width: 2px;
}

.creditsLabel.label .text {
    -fx-fill: rgb(0, 130, 170);
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

.optLabelMini.label .text {
    -fx-fill: rgb(4, 127, 158);
    -fx-stroke: rgb(50, 50, 50);
    -fx-stroke-width: 1px;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
    -fx-alignment: top-center;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-alignment: top-center;
}

.slider {
    -fx-control-inner-background: rgba(149, 36, 231, 0.27);

}

.slider .thumb {
    -fx-background-image: url("../gfx/eyeSlider.png");
    -fx-padding: 16;
    -fx-background-color: transparent;
}