.optLabelBtn.label .text {
    -fx-fill: rgb(59, 158, 133);
    -fx-stroke: #204c26;
    -fx-stroke-width: 1px;
}

.optLabel.label .text {
    -fx-fill: rgb(4, 127, 158);
    -fx-stroke: #191f63;
    -fx-stroke-width: 2px;
}

.errorLabel.label .text {
    -fx-fill: rgb(158, 46, 100);
    -fx-stroke: #4b0f41;
    -fx-stroke-width: 1px;
}

.nameTag.label .text {
    -fx-fill: rgb(177, 136, 181);
    -fx-stroke: #4b1272;
    -fx-stroke-width: 1px;
}

.creditsLabel.label .text {
    -fx-fill: rgb(0, 165, 212);
    -fx-stroke: #191f63;
    -fx-stroke-width: 1px;
}

.optLabelMini.label .text {
    -fx-fill: rgb(4, 158, 194);
    -fx-stroke: rgb(22, 28, 50);
    -fx-stroke-width: 1px;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
    -fx-alignment: top-center;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-alignment: top-center;
}

.slider {
    -fx-control-inner-background: rgba(149, 36, 231, 0.27);

}

.slider .thumb {
    -fx-background-image: url("../gfx/eyeSlider.png");
    -fx-padding: 16;
    -fx-background-color: transparent;
}

.text-field {
    -fx-background-color: transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}

.text-field:hover {
    -fx-background-color: transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}

.text-field:focused {
    -fx-background-color: transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}

.text-input {
    -fx-text-fill: #c9b9ff;
    -fx-highlight-fill: derive(-fx-control-inner-background, -20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
}